/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37373a;
}

#profile_header {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0;

}

.edit-submit {
    background-color: transparent;

    border-width: 0px;
    padding: 10px;
    margin-left: .5em;
    right: 0px;
    border-radius: 15px;
    color: white;
}

.edit-cancel {
    background-color: transparent;

    border-width: 0px;
    padding: 10px;
    right: 0px;
    color: white;
    border-radius: 15px;
}

.edit-submit:hover,
.edit-cancel:hover {
    background-color: #37373a;
}

.button-group {
    display: flex;
    justify-content: flex-end;

}

/* Specific styles for elements */
#new_posts {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #23232452;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #b1b1b1;
}

.edit_field {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.edit_button_div {
    position: absolute;

    top: 0px;
    right: -170px;
    width: 150px;
    height: 30px;
    background-color: #232324;
    border: 1px solid #0d0d0e52;
    border-radius: 5px;
    z-index: 9999;
    /* A high value to ensure it's on top of all other elements */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#compose-comment {
    margin-bottom: 1em;
}

.post_user {
    cursor: pointer;
    text-decoration: underline;
    margin-right: 1em;
    margin-bottom: .05em;

}


#new_posts:hover {
    background-color: #00000052;
    color: #ffffff;
}

.post_string {
    font-size: 14px;
    margin-top: 1em;
}

.time_stamp {
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}

.edit_button {
    position: absolute;
    right: 10px;
    font-size: larger;
    margin: 0 auto;
    margin-left: 1em;
    cursor: pointer;
}

.reply-button {
    display: inline-flex;
    font-size: small;
    font-weight: bolder;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
}

.reply-button:hover {
    border-radius: 10px;
    background-color: rgb(97, 97, 97);
}

.replies-div{
    
    color: #007bff;
    font-size: small;
    font-weight: bolder;
    cursor: pointer;
    z-index: 9999;
   
   

}
.reply-text{
   
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
.reply-text:hover{
    
    background-color: #007bff38;
    z-index: 0;
    border-radius: 10px;
   
}
#compose-post {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-control {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    padding: 0.5em;
    font-size: 1em;
}

#followingsection {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #23232452;
    padding: .003em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: #b1b1b1;
    ;

}

#followingsection:hover {
    background-color: #00000052;
    color: white;
}

.profile_columns {
    text-align: center;
    margin: 0 1em;
    flex-basis: 100%;
    max-width: 100%;
}

h2 {
    font-size: 1.5em;
    margin: 0.2em 0;
    white-space: nowrap;
    color: #ffffff;
}

.all_posts {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #23232452;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.all_posts:hover {
    position: relative;
    background-color: #00000052;
}

.edit {
    position: relative;
    width: 800px;
    margin: 0 auto;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;

    background-color: 'white';
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.post {
    
    position: relative;
    max-width: auto;
    margin: 0 auto;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
    background-color: #00000052;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: white;

}

@keyframes color-change {
    0% {
        position: relative;
        background-color: #00000052;
        color: #ffffff;
        box-shadow: 0 2px 2px rgba(44, 44, 44, 0.1);
        transform: scalex(1.001);

    }



    100% {
        position: relative;
        background-color: #ffffff;
        color: black;
        box-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);
        transform: scalex(1.002);

    }
}

.post:hover {

    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
    transform: scalex(1.003);

}

.like_button {
    display: inline;
    color: #ffffff;
    padding: .1em .26em;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    background-color: #00000052;
    transition: background-color 0.5s ease;
}

.like_button:hover {
    background-color: #00000052;
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}