{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<h1 id="profile_header">All Posts</h1>
<input type="hidden" id="csrf_token_2" value="{{ csrf_token }}">
<div id="new_posts">
    <div id="compose-post">
        <h3>New Post</h3>
        <textarea class="form-control" id="compose-comment"></textarea>
        <button type="submit" id="post-button" class="btn btn-primary"> Post</button>
        {% csrf_token %}
    </div>
</div>
<div id="followingsection">
    <div class="profile_columns">
        <h2>Followers: <span id="followers-column"></span></h2>
    </div>
    <div class="profile_columns">
        <h2>Following:<span id="following-column"></span></h2>

    </div>
</div>

<div class="all_posts"></div>
<div id="overlay"></div>
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">





<script>
    // This code sets a listener for when the user navigates back to this page using the browser's back button.
    window.addEventListener('popstate', function () {
        location.reload();
    });
    // This code sets a listener for when the DOM is fully loaded.
    document.addEventListener('DOMContentLoaded', function () {
        // This code sets a listener for when the user clicks the "post-button" element and calls the "create_post" function.
        document.querySelector('#post-button').addEventListener('click', create_post);
        // This code sets a listener for when the user clicks on either the "profile" or "allposts" element and calls the "load_posts_profile" function.
        document.querySelector('#profile').addEventListener('click', () => load_posts_profile('userprofile'));
        document.querySelector('#allposts').addEventListener('click', () => load_posts_profile('allposts'));

        load_posts_profile('allposts');
    });

    let current_edit = '';
    // create button element
    var like_button_unlike = document.createElement('button');
    like_button_unlike.className = 'like_button';
    like_button_unlike.style.backgroundColor = ' #23232452';

    like_button_unlike.style.border = 'transparent';


    // create SVG element
    const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
    svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
    svg.setAttribute('width', '16');
    svg.setAttribute('height', '16');
    svg.setAttribute('fill', 'currentColor');
    svg.setAttribute('class', 'bi bi-hand-thumbs-up-fill');
    svg.setAttribute('viewBox', '0 0 16 16');

    // create path element
    const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');

    path.setAttribute('d', 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z');

    // append path element to SVG element
    svg.appendChild(path);

    // append SVG element to button element
    like_button_unlike.appendChild(svg);

    //button hover listner  for like button
    const mySVG = document.getElementsByClassName('like_button');
    const follow_icon = document.createElement('img');
    follow_icon.src = "{% static 'network/follow.png' %}";
    follow_icon.className = 'follow_icon';
    follow_icon.style.width = '64px';
    follow_icon.style.height = '64px';
    follow_icon.style.cursor = 'pointer';
    follow_icon.style.display = 'inline-block';
    const csrfToken = document.querySelector('#csrf_token').value;
    follow_icon.setAttribute('data-csrf-token', csrfToken);
    //follow button attribute when clicked runs the follow function
    follow_icon.setAttribute('onclick', `follow()`);

    mySVG.onmouseover = function () {
        this.querySelector('rect').setAttribute('fill', 'white');
    };

    mySVG.onmouseout = function () {
        this.querySelector('rect').setAttribute('fill', 'blue');
    };

    follow_icon.onmouseover = function () {
        this.style.height = '74px';
        this.style.width = '74px';
    };

    follow_icon.onmouseout = function () {
        this.style.height = '64px';
        this.style.width = '64px';
    };





    function createNavItem(text, ul, clickHandler) {
        const item = document.createElement('li');
        item.className = 'page-item';
        const link = document.createElement('a');
        link.className = 'page-link';
        link.innerText = text;
        link.addEventListener("click", clickHandler);
        item.appendChild(link);
        ul.appendChild(item);
    }

    function isAlphabet(char) {
        return /^[a-zA-Z]$/.test(char);
    }


    function add_pagination(postdata, pagedata = null, windowload = false) {
        //clear variable
        current_edit = '';

        // Get the container for all posts and create a new navigation element.
        const allPosts = document.querySelector(".all_posts");

        const nav = document.createElement('nav');
        nav.setAttribute('aria-label', 'Page navigation example');
        const ul = document.createElement('ul');
        ul.className = 'pagination';

        // Add a 'Previous' navigation item to the unordered list.
        createNavItem('Previous', ul, PageTracker.page_selection);

        // Determine the starting page number depending on whether the window has just loaded or not.
        let startPage = windowload ? 1 : postdata.pages_left + 1;
        //Determine if the amount of pages left is less than 5
        let pagesToShow = Math.min(postdata.pages_left, 5);

        // If the window has just loaded, create the pagination items and add them to the unordered list.
        if (windowload) {
            for (let i = startPage; i < startPage + pagesToShow; i++) { item_element(i, ul, PageTracker.page_selection); }
            //Add a Next pagination item if 
            if (parseInt(postdata.pages_left) > 5) { createNavItem('Next', ul, PageTracker.page_selection); }
            nav.appendChild(ul);
            allPosts.appendChild(nav);
        }

        const pageLinks = document.querySelectorAll('.page-link');
        const secondToLast = pageLinks[pageLinks.length - 2];

        if (!windowload) {

            if (pagedata.next_set === false && pagedata.previous_set === false) {
                counter = PageTracker.LastSet(pagedata, postdata, pageLinks);
                start = PageTracker.FirstSet(pagedata, postdata, pageLinks);

                //Render new set of posts
                load_newpage(postdata, newset = false);

                for (let i = start; i <= counter; i++) {

                    item_element(i, ul, PageTracker.page_selection);
                }
                if (pagedata.page + parseInt(postdata.pages_left) > counter) { createNavItem('Next', ul, PageTracker.page_selection); }
                nav.appendChild(ul);
                allPosts.appendChild(nav);

            } else {

                second_counter = PageTracker.LastSet(pagedata, postdata, pageLinks);
                first_counter = PageTracker.FirstSet(pagedata, postdata, pageLinks);

                load_newpage(postdata, newset = false);

                //Create pagination elements 
                for (let i = first_counter; i <= second_counter; i++) {

                    item_element(i, ul, PageTracker.page_selection);
                }

                if (pagedata.page + parseInt(postdata.pages_left) > second_counter) { createNavItem('Next', ul, PageTracker.page_selection); }
                nav.appendChild(ul);
                allPosts.appendChild(nav);
            }
        }
    }

    function item_element(i, ul, page_selection) {
        const pageItem = document.createElement('li');
        pageItem.className = 'page-item';
        const pageLink = document.createElement('a');
        pageLink.className = 'page-link';
        pageLink.innerText = i;
        pageLink.addEventListener("click", page_selection);
        pageItem.appendChild(pageLink);
        ul.appendChild(pageItem);
        return { pageItem: pageItem };
    }

    function createNavItem(text, ul, clickHandler) {
        const item = document.createElement('li');
        item.className = 'page-item';
        const link = document.createElement('a');
        link.className = 'page-link';
        link.innerText = text;
        link.addEventListener("click", clickHandler);
        item.appendChild(link);
        ul.appendChild(item);
    }

    function isAlphabet(char) {
        return /^[a-zA-Z]$/.test(char);
    }

    class PageTracker {


        // Method to get the last number of set for pagination.
        static LastSet(pagedata, postdata, pageLinks) {
            return (pagedata.next_set === true)
                ? Math.min(
                    parseInt(pageLinks[pageLinks.length - 2].innerHTML) + 1 + postdata.pages_left,
                    parseInt(pageLinks[pageLinks.length - 2].innerHTML) + 5) : (pagedata.previous_set === true)
                    ? pagedata.page + 4 :
                    pagedata.page <= parseInt(isAlphabet(pageLinks[pageLinks.length - 1].innerHTML[0])
                        ? pageLinks[pageLinks.length - 2].innerHTML
                        : pageLinks[pageLinks.length - 1].innerHTML)
                        ? parseInt(
                            isAlphabet(pageLinks[pageLinks.length - 1].innerHTML[0])
                                ? pageLinks[pageLinks.length - 2].innerHTML :
                                pageLinks[pageLinks.length - 1].innerHTML) :
                        pagedata.page + postdata.pages_left + 1
        }

        // Method to get the first number of set for pagination.
        static FirstSet(pagedata, postdata, pageLinks) {

            return (pagedata.next_set === true)
                ? parseInt(pageLinks[pageLinks.length - 2].innerHTML) + 1
                : (pagedata.previous_set === true) ? pagedata.page
                    : isAlphabet(pageLinks[0].innerHTML[0]) ? pageLinks[1].innerHTML
                        : pageLinks[0].innerHTML
        }


        static page_selection(event) {
            const page_number = event.target;
            const profileHeader = document.querySelector('#profile_header').innerHTML;

            let load = {
                'page': (page_number.innerHTML === 'Next') ?
                        parseInt(page_number.parentElement.previousElementSibling.innerText) + 1 :
                        (page_number.innerHTML === 'Previous') ?
                        parseInt(page_number.parentElement.nextElementSibling.innerText) - 5 :
                        parseInt(page_number.innerHTML),
                'next_set': (page_number.innerHTML == 'Next'),
                'previous_set': (page_number.innerHTML == 'Previous'),
                'profile': (profileHeader.slice(-8) === "'s Posts") ? profileHeader.slice(0, -8) : profileHeader
            }
            const jsonString = JSON.stringify(load);
            const encodedData = encodeURIComponent(jsonString);
            fetch(`/load_page/${encodedData}`)
                .then(response => response.json())
                .then(page => { add_pagination(page, load, false) })
        }
    }






    function follow() {
        var csrfToken = follow_icon.getAttribute('data-csrf-token');
        username = document.getElementById("profile_header").value;
        console.log(username);
        fetch(`/follow/${username}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                id: username
            })
        })
            .then(response => response.json())
            .then(updated_counter => {
                if (updated_counter.followers != true) {
                    document.querySelector(`#followers-column`).innerHTML = updated_counter.followers;
                }


            })
    }


    function create_post() {
        var comment = document.querySelector('#compose-comment').value;
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        fetch('/create_post', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                comment: comment
            })
        })
            .then(response => response.json())
            .then(updatepost => {
                document.querySelector('#compose-comment').value = '';
                load_posts_profile(updatepost);
            })


    }


    function like_post(id) {
        var csrfToken = like_button_unlike.getAttribute('data-csrf-token');
        fetch(`/like_post/${id}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
            .then(response => response.json())
            .then(like => {
                let counter_element = document.querySelector(`#post_${id}`);
                console.log(like);
                counter_element.querySelector(`.like-counter`).innerText = like.Newpost.like_count;
                document.querySelector(`#post_${id} path:nth-of-type(1)`).setAttribute('d', like.Newpost.liked ? 'm8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z' : 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z');
            })

    }
    let previous = 0;

    function open_edit(id) {

        // Obtain the 3-dot menu element used for accessing the edit options. Its Element ID is linked to the post's primary key (PK) ID in the backend. Initially, the data-value is set to 0, indicating an inactive state.
        const edit_dot = document.getElementById(id);
        // Check if an element with the 'edit_button_div' class already exists
        var existing_edit_div = document.querySelector('.edit_button_div');
        if (existing_edit_div && edit_dot.dataset.value === "1") { existing_edit_div.remove(); edit_dot.dataset.value = 0; return; }

        if (existing_edit_div && edit_dot.dataset.value === "0" && edit_dot.id != previous) { existing_edit_div.remove(); document.getElementById(`${previous}`).dataset.value = 0; }

        // If it exists, remove the existing 'edit_button_div'
        if (edit_dot) {
            if (edit_dot.dataset.value === "0") {
                if (existing_edit_div) { existing_edit_div.remove(); }
                let edit_div = document.createElement("div");
                edit_div.className = 'edit_button_div';
                edit_dot.dataset.value = "1";
                edit_div.innerText = 'Edit';
                edit_div.style.color = 'white';
                edit_div.style.cursor = 'pointer';
                edit_div.setAttribute('onclick', `edit_post(${id})`);
                edit_dot.append(edit_div);
                previous = edit_dot.id;
                return;
            }
        }
        return;
    }
    //used to remove letters and retrieve post number from a post element
    function removeLetters(str) {
        return str.replace(/[^\d]/g, '');
    };

    function submit() {
        var csrfToken = like_button_unlike.getAttribute('data-csrf-token');

        let edit_field = document.querySelector('.edit_field').value;

        fetch(`/submit`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                post_id: removeLetters(current_edit.id),
                post_update: edit_field
            })
        })
            .then(response => response.json())
            .then(post => {
                remove_edit();
                let current_post_div = document.querySelector(`${current_edit.id}`);
                current_post_div.querySelector('.post_string').innerText = post.update;
                current_edit = { 'id': `#post_${removeLetters(current_edit.id)}`, 'innerhtml': current_post_div.innerHTML };

            })




    }



    function remove_edit() {
        let previous_post = document.querySelector(`${current_edit.id}`);
        if (previous_post) {
            previous_post.innerHTML = current_edit.innerhtml;
            let edit_box = document.getElementById(removeLetters(current_edit.id)).firstElementChild;
            if (edit_box) { edit_box.remove(); }
        }
        return;
    }
    function autoGrow(edit_field) {
        edit_field.style.height = 'auto';
        edit_field.style.height = (edit_field.scrollHeight + 2) + 'px';
    }

    function onInputHandler() {
        autoGrow(this);
    }
    function create_edit_field(id) {
        const post = document.querySelector(`#post_${id}`);

        //Sets edit dropdown menu datasetvalue to 0. This is required in order for dropdown function to work properly in "closing" the element
        let edit_dropdown = document.getElementById(id).dataset.value = '0';

        //Global variable that holds the value of the current Post ID and Post Textfield being edited
        current_edit = { 'id': `#post_${id}`, 'innerhtml': post.innerHTML };

        string = post.querySelector('.post_string');
        let edit_field = document.createElement('textarea');
        button_group = document.createElement('div');
        button_group.className = 'button-group';
        submit_button = document.createElement('button');
        submit_button.textContent = 'Submit';
        submit_button.className = 'edit-submit';
        submit_button.setAttribute('onclick', `submit()`);
        cancel_button = document.createElement('button');
        cancel_button.textContent = 'Cancel';
        cancel_button.setAttribute('onclick', `remove_edit()`);
        cancel_button.className = 'edit-cancel';
        edit_field.className = 'edit_field';
        edit_field.innerHTML = string.innerText;
        edit_field.style.height = (edit_field.innerText.scrollHeight + 2) + 'px';
        edit_field.setAttribute("oninput", "onInputHandler.call(this)");
        autoGrow(edit_field);
        button_group.append(cancel_button, submit_button);
        post.innerHTML = edit_field.outerHTML;
        post.append(button_group);
        ChangeTextAreaHeight();

    }
    //Cha
    function ChangeTextAreaHeight() {
        let edit = document.querySelector('.edit_field');
        edit.style.height = edit.scrollHeight + 'px';
    }
    function edit_post(id) {
        if (current_edit === '') {
            create_edit_field(id);
        }
        else {
            remove_edit();
            create_edit_field(id);

        }
    }

    //visiting the page it should add follow user option
    function load_posts_profile(load) {
        document.querySelector(".all_posts").innerHTML = '';
        const csrfToken = document.querySelector('#csrf_token').value;

        fetch(`/load_posts/${load}`)
            .then(response => response.json())
            .then(posts => {
                var profile = document.getElementById("profile_header");
                profile.style.display = 'inline-block';
                var useraccount = document.getElementById("username");

                // Get a reference to the 'Followers' section by its id
                var followersSection = document.getElementById("followers-column");
                var followingSection = document.getElementById("following-column");
                // Set the content of the section to the followers count
                followersSection.innerHTML = posts.count.followers;
                followingSection.innerHTML = posts.count.following;

                const notUserProfile = posts.isCurrentProfile;

                document.querySelector('#followingsection').style.display = posts.isCurrentProfile ? 'none' : 'block';
                document.querySelector('#new_posts').style.display = notUserProfile ? 'none' : 'block';

                if (notUserProfile) {
                    document.querySelector("#profile_header").innerText = `${load}'s Posts`;
                    document.querySelector("#profile_header").value = load;

                    if (load != useraccount.innerHTML) {
                        profile.insertAdjacentElement('afterend', follow_icon);
                    }
                } else {
                    document.querySelector("#profile_header").innerText = "All Posts";
                    const follow_icon = document.querySelector('.follow_icon');
                    if (follow_icon) { follow_icon.remove(); }
                }

                load_newpage(posts, true);
                //appends pagitation html elmemnts after the DOM loads all the posts
                add_pagination(posts, undefined, true);
                console.log(posts.data);
            })
    }

    function load_newpage(postdata, newset) {

        if (newset != true) {
            const posts = document.querySelectorAll('.post');
            posts.forEach(link => { link.remove(); });
            document.querySelector('[aria-label="Page navigation example"]').remove();
            const page_selection_elemement = document.querySelectorAll('.page-item');
            page_selection_elemement.forEach(link => { link.remove(); });
        }

        postdata.data.forEach((element, index) => {

            let dots = document.createElement("span");
            dots.className = 'edit_button';
            dots.innerHTML = "⋮";
            dots.setAttribute('onclick', `open_edit(${element.id})`);
            dots.dataset.value = "0";
            dots.id = element.id;
            let line = document.createElement('div');
            let time_stamp = document.createElement('span');
            time_stamp.className = "time_stamp";
            time_stamp = element.timestamp;
            let post_user = document.createElement('a');
            post_user.style.color = '#007bff';
            post_user.className = "post_user";
            post_user.style.cursor = 'pointer';
            post_user.style.textDecoration = 'underline';
            post_user.innerHTML = element.user;
            post_user.setAttribute('onclick', `load_posts_profile("${element.user}")`);
            let post = document.createElement('div');
            post.className = 'post_string';
            post.innerHTML = element.post;
            let count_likes = document.createElement('span');
            count_likes.className = 'like-counter';
            count_likes.textContent = element.post_likes;
            line.className = "post";
            line.id = `post_${element.id}`;
            like_button_unlike.setAttribute('onclick', `like_post(${element.id})`);
            like_button_unlike.setAttribute('data-csrf-token', csrfToken);

            //Create Reply Button 
            let reply = document.createElement('span');
            reply.innerText = 'Reply';
            reply.className = 'reply-button';

            //Replies button for viewing all comments
            let replies = document.createElement('div');
            replies.className = 'replies-div';
            //Create a span element for containing the 'Replies' string
            let replytext = document.createElement('span');
            replytext.className = 'reply-text';
            replytext.innerText = `${element.replies} Replies`;

            replies.append(replytext);

            line.append(post_user);

            if (element.user === postdata.current_user) {

                line.append(time_stamp, dots, post, like_button_unlike, count_likes, reply, replies);
            } else {
                line.append(time_stamp, post, like_button_unlike, count_likes, replies);
            }
            document.querySelector(".all_posts").innerHTML += line.outerHTML;
            document.querySelector(`#post_${element.id} path:nth-of-type(1)`).setAttribute('d', element.current_user_like ? 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z' : 'm8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z');



        })
    }
    function following() {
        const username = document.getElementById("username");
        fetch(`/following/${username}`)
            .then(response => response.json())
            .then(posts => {


            })
    }
</script>
{% endblock %}