{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<div class='row justify-content-center'>
    <div class="col-md-6 text-center">
        <h1 id="profile_header">All Posts</h1>

        <input type="hidden" id="csrf_token_2" value="{{ csrf_token }}">
        <div id="new_posts">
            <div id="compose-post">
                <div class="row">
                    <h3>New Post</h3>
                    <textarea class="form-control" id="compose-comment"></textarea>
                    <div class="col-xs-6">
                        <button type="submit" id="post-button" class="btn btn-primary "> <i class="bi bi-send-plus"></i>
                            Post
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% csrf_token %}
    </div>
</div>
<div id="followingsection">
    <div class="profile_columns">
        <h2>Followers: <span id="followers-column"></span></h2>
    </div>
    <div class="profile_columns">
        <h2>Following: <span id="following-column"></span></h2>
    </div>
</div>
<div class="all_posts"></div>

<input type="hidden" id="csrf_token" value="{{ csrf_token }}">


<h1>WebSocket Test</h1>

<button>Start WebSocket</button>
<textarea class="form-control" id="message-comment"></textarea>
<button type="submit" id="message" class="btn btn-primary "> <i class="bi bi-send-plus"></i> submit
</button>
<span class="form-control" id="message-collector"></span>
<div class="col-xs-6">
    

    {% block script %}
    <script src="{% static 'network/PostUI.js' %}"></script>
    <script src="{% static 'network/fetch.js' %}"></script>
    <script src="{% static 'network/pagination.js' %}"></script>
    <script src="{% static 'network/chat.js' %}"></script>
    {% endblock %}

    <script>

        // This code sets a listener for when the user navigates back to this page using the browser's back button.
        window.addEventListener('popstate', function () {
            location.reload();
        });
        // This code sets a listener for when the DOM is fully loaded.
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#message').addEventListener('click', () => sendText())
            // This code sets a listener for when the user clicks the "post-button" element and calls the "create_post" function.
            document.querySelector('#post-button').addEventListener('click', create_post);
            // This code sets a listener for when the user clicks on either the "profile" or "allposts" element and calls the "load_posts_profile" function.
            document.querySelector('#profile').addEventListener('click', () => load_posts_profile('userprofile'));
            document.querySelector('#allposts').addEventListener('click', () => load_posts_profile('allposts'));
            document.querySelector('#following').addEventListener('click', () => following());
            load_posts_profile('allposts');
        });

        let current_edit = '';
        let previous = 0;

        function isAlphabet(char) {
            return /^[a-zA-Z]$/.test(char);
        }
        

        // function startWebSocket() {
        //     const socket = new WebSocket('ws://127.0.0.1:8000/ws/')

        //     //array buffer binarytype is potentionally more efficent
        //     // socket.binaryType = 'arraybuffer';



        //     socket.onopen = function (e) {
        //         alert("[open] Connection established");
        //     };

        //     socket.onmessage = function (event) {
        //         var text = document.getElementById('message-collector')
        //         let message = JSON.parse(event.data)
        //         text.innerHTML += `<br> ${message.message}`;



        //     };
        //     var text = document.getElementById('message-comment')
        //     document.querySelector('#message').addEventListener('click', () => {
        //         socket.send(text.value),
        //         text.value = ""
        //     })



        //     socket.onerror = function (error) {
        //         alert(`[error] ${error.message}`);
        //     };
        // }
    </script>


    {% endblock %}