{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<h1 id="profile_header">All Posts</h1>
<input type="hidden" id="csrf_token_2" value="{{ csrf_token }}">
<div id="new_posts">
    <div id="compose-post">
        <h3>New Post</h3>
        <textarea class="form-control" id="compose-comment"></textarea>
        <button type="submit" id="post-button" class="btn btn-primary"> Post</button>
        {% csrf_token %}
    </div>
</div>
<div id="followingsection">
    <div class="profile_columns">
        <h2>Followers: <span id="followers-column"></span></h2>
    </div>
    <div class="profile_columns">
        <h2>Following:<span id="following-column"></span></h2>

    </div>
</div>

<div class="all_posts"></div>
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">





<script>
    window.addEventListener('popstate', function () {
        location.reload();
    });

    document.addEventListener('DOMContentLoaded', function () {

        document.querySelector('#post-button').addEventListener('click', create_post);
        document.querySelector('#profile').addEventListener('click', () => load_posts_profile('userprofile'));
        document.querySelector('#allposts').addEventListener('click', () => load_posts_profile('allposts'));
        load_posts_profile('allposts');
    });


    // create button element
    var like_button_unlike = document.createElement('button');
    like_button_unlike.className = 'like_button';
    like_button_unlike.style.backgroundColor = ' #23232452';

    like_button_unlike.style.border = 'transparent';


    // create SVG element
    const svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
    svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
    svg.setAttribute('width', '16');
    svg.setAttribute('height', '16');
    svg.setAttribute('fill', 'currentColor');
    svg.setAttribute('class', 'bi bi-hand-thumbs-up-fill');
    svg.setAttribute('viewBox', '0 0 16 16');

    // create path element
    const path = document.createElementNS('http://www.w3.org/2000/svg', 'path');

    path.setAttribute('d', 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z');

    // append path element to SVG element
    svg.appendChild(path);

    // append SVG element to button element
    like_button_unlike.appendChild(svg);

    //button hover listner  for like button
    const mySVG = document.getElementsByClassName('like_button');
    const follow_icon = document.createElement('img');
    follow_icon.src = "{% static 'network/follow.png' %}";
    follow_icon.className = 'follow_icon';
    follow_icon.style.width = '64px';
    follow_icon.style.height = '64px';
    follow_icon.style.cursor = 'pointer';
    const csrfToken = document.querySelector('#csrf_token').value;
    follow_icon.setAttribute('data-csrf-token', csrfToken);
    //follow button attribute when clicked runs the follow function
    follow_icon.setAttribute('onclick', `follow()`);

    mySVG.onmouseover = function () {
        this.querySelector('rect').setAttribute('fill', 'white');
    };

    mySVG.onmouseout = function () {
        this.querySelector('rect').setAttribute('fill', 'blue');
    };

    follow_icon.onmouseover = function () {
        this.style.height = '74px';
        this.style.width = '74px';
    };

    follow_icon.onmouseout = function () {
        this.style.height = '64px';
        this.style.width = '64px';
    };

    function page_selection(event) {
        const page_number = event.target;
        const profileHeader = document.querySelector('#profile_header').innerHTML;


        if (page_number.innerHTML == 'Next')
        {   
            load = {'page': parseInt(page_number.parentElement.previousElementSibling.innerText), 
                    'next_set': true, 
                    'previous_set': false,
                    'profile': (profileHeader.slice(-8) === "'s Posts") ? profileHeader.slice(0, -8) : profileHeader}
            const jsonString = JSON.stringify(load);
            const encodedData = encodeURIComponent(jsonString);
            fetch(`/load_page/${encodedData}`)
            .then(response => response.json())
            .then(page => {
                console.log(page);

        })}
    }


    function follow() {
        var csrfToken = follow_icon.getAttribute('data-csrf-token');
        username = document.getElementById("profile_header").value;
        console.log(username);
        fetch(`/follow/${username}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                id: username
            })
        })
            .then(response => response.json())
            .then(updated_counter => {
                if (updated_counter.followers != true) {
                    document.querySelector(`#followers-column`).innerHTML = updated_counter.followers;
                }


            })
    }

    function add_pagination() {
        document.querySelector(".all_posts").innerHTML +=
            `<nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link">Previous</a></li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">4</a></li>
                <li class="page-item"><a class="page-link">5</a></li>
                <li class="page-item"><a class="page-link">Next</a></li>
            </ul>
        </nav>`;

        const page_link = document.querySelectorAll(".page-link");
        page_link.forEach(link => {
            link.addEventListener("click", page_selection);
        });
    }



    function create_post() {
        var comment = document.querySelector('#compose-comment').value;
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        fetch('/create_post', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                comment: comment
            })
        })
        document.querySelector('#compose-comment').value = '';
        load_posts_profile("userprofile")
    }


    function like_post(id) {
        var csrfToken = like_button_unlike.getAttribute('data-csrf-token');
        fetch(`/like_post/${id}`, {
            method: 'PUT',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                post_id: id
            })
        })
            .then(response => response.json())
            .then(like => {
                document.querySelector(`#post_${id} span:nth-of-type(2)`).textContent = like.like_count;
                document.querySelector(`#post_${id} path:nth-of-type(1)`).setAttribute('d', like.liked ? 'm8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z' : 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z');
            })

    }

    //the load posts should be (modify the load_posts function to take a value)broken down so all posts show up and when user profile is clicked it shows the followers and following. if another user is
    //visiting the page it should add follow user option
    function load_posts_profile(load) {
        document.querySelector(".all_posts").innerHTML = '';
        const csrfToken = document.querySelector('#csrf_token').value;

        fetch(`/load_posts/${load}`)
            .then(response => response.json())
            .then(posts => {
                var profile = document.getElementById("profile_header");
                var useraccount = document.getElementById("username");
                console.log(posts.pagination);
                // Get a reference to the 'Followers' section by its id
                var followersSection = document.getElementById("followers-column");
                var followingSection = document.getElementById("following-column");
                // Set the content of the section to the followers count
                followersSection.innerHTML = posts.count.followers;
                followingSection.innerHTML = posts.count.following;

                const notUserProfile = posts.requester.current_profile != "userprofile" && posts.requester.current_profile != "allposts";
                document.querySelector('#followingsection').style.display = notUserProfile ? 'none' : 'block';
                document.querySelector('#new_posts').style.display = notUserProfile ? 'none' : 'block';

                if (notUserProfile) {
                    document.querySelector("#profile_header").innerText = `${load}'s Posts`;
                    document.querySelector("#profile_header").value = load;

                    if (posts.requester.current_profile != useraccount.innerHTML) {
                        profile.append(follow_icon);
                    }
                } else {
                    document.querySelector("#profile_header").innerText = "All Posts";
                }

                posts.posts.forEach((element, index) => {
                    let line = document.createElement('div');
                    let post_user = document.createElement('a');
                    post_user.style.color = '#007bff';
                    post_user.className = "post_user";
                    post_user.style.cursor = 'pointer';
                    post_user.style.textDecoration = 'underline';
                    post_user.innerHTML = element.user;
                    post_user.setAttribute('onclick', `load_posts_profile("${element.user}")`);

                    let count_likes = document.createElement('span');
                    count_likes.textContent = element.post_likes;

                    line.className = "post";
                    line.id = `post_${element.id}`;
                    like_button_unlike.setAttribute('onclick', `like_post(${element.id})`);
                    like_button_unlike.setAttribute('data-csrf-token', csrfToken);
                    line.append(post_user);

                    line.innerHTML +=
                        `<span class="time_stamp">${element.timestamp}</span>
                        <div class="post_string">${element.post}</div>`;
                    line.append(like_button_unlike, count_likes);

                    document.querySelector(".all_posts").innerHTML += line.outerHTML;
                    document.querySelector(`#post_${element.id} path:nth-of-type(1)`).setAttribute('d', element.current_user_like ? 'M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z' : 'm8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z');

                });
                //appends pagitation html elmemnts after the DOM loads all the posts
                add_pagination();


            })



    }



</script>
{% endblock %}